body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    border-width: 0px;
    margin: 0;
    background-color: #fff;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-size: 15px;
    font-weight: lighter;
    color: #50586C;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: #50586C;
    /* no underline */
}

a:hover {
    text-decoration: none;
}

.sideBar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #50586C;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sideBar .logo {
    margin-top: 120px;
    width: auto;
    height: 80px;
}

.sideBar .profileBox {
    position: fixed;
    bottom: 40px;
    height: fit-content;
    width: 230px;
}

.sideBar .profileBox .profileImage {
    width: 80px;
    margin-top: 12px;
}

.sideBar .profileBox .userName {
    font-size: 17px;
    margin-top: 12px;
    font-weight: bolder;
    color: #DCE2F0;
}

.sideBar .profileBox .userID {
    font-size: 15px;
    color: #DCE2F0;
}

.sideBar .profileBox .campus {
    margin-top: 10px;
    color: #DCE2F0;
}

.sideBar .profileBox .grade {
    color: #DCE2F0;
}

.sideBar .profileBox .proflieBtn {
    margin-top: 12px;
    width: 80px;
    height: 23px;
    color: #50586C;
    font-weight: 500;
    background-color: white;
    border: 1px solid gray;
}

.sideBar .proflieBtn:hover {
    background-color: #E5E5E5;
    cursor: pointer;
}

.sideBar a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.main {
    margin-left: 330px;
    /* Same as the width of the sidenav */
    font-size: 15px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    width: 900px;
    min-width: 1000px;
    height: 700px;
}

.main .nav {
    margin-top: 20px;
    width: 990px;
}

.main .big .E:nth-child(1) {
    padding-left: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #50586C;
}

.main .big .E:nth-child(2) {
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #50586C;
}

.main .searchBar {
    margin-top: 30px;
    vertical-align: baseline;
    margin-bottom: 0px;
    width: 990px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch;
}

.main .searchBar div {
    display: inline;
    padding-bottom: 0px;
}

.searchBar .popularBox {
    width: fit-content;
}

.main .searchBar p {
    display: inline;
    vertical-align: bottom;
    font-weight: 500;
    margin-left: 3px;
    font-size: 17px;
    vertical-align: baseline;
    color: #50586C;
}

.main .searchBar .popularPost {
    display: inline;
    margin-left: 15px;
    width: 180px;
    vertical-align: bottom;
    font-size: 17px;
    vertical-align: baseline;
    font-weight: lighter;
}

.main .searchBar img {
    height: 26px;
    display: inline;
    vertical-align: bottom;
}

.main .searchBar .searchBox {
    display: inline;
}

.main .searchBar .searchBox input:nth-child(1) {
    width: 300px;
    height: 30px;
    background-image: url('/images/icon_search.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 10px;
    padding-left: 40px;
    border-radius: 10px;
    border: 1.5px solid #50586C;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.dropbtn {
    font-size: 24px;
    font-weight: bold;
    color: #50586C;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: transparent;
    width: 120px;
    text-align: left;
    align-content: center;
    height: fit-content;
    padding-top: 5px;
    border-radius: 5%;
}

.dropdown-content a {
    background-color: #50586C;
    width: 95%;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 6px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #DCE2F0;
}

.dropdown-content a:nth-child(1) {
    background-color: transparent;
    border-radius: 5%;
    width: 95%;
    padding-bottom: 2px;
    padding-left: 6px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 8px;
}

.dropdown-content a:hover {
    font-weight: bolder;
}

.dropdown:hover .dropdown-content {
    display: block;
}