.head {
    margin-top: 40px;
}

.mwmTitle {
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #EC73A5;
}

.wrap {
    margin-top: 30px;
}

input {
    padding-left: 10px;
    width: 988px;
    color: black;
    font-weight: 500;
}

button:hover {
    font-weight: bold;
}

.boardTitle {
    font-size: 30px;
    font-weight: 900;
}

.postBox .title {
    display: block;
    height: 40px;
}

.postBox .text {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 480px;
    padding-top: 15px;
    padding-left: 10px;
    width: 990px;
    color: black;
    resize: none;
}

.postBtn {
    width: 100px;
    height: 30px;
    margin-right: 20px;
    background-color: white;
    border: 1.5px solid #50586C;
}

span.errormessage {
    color: red;
}

.varBoardName {
    display: none;
}