:root {
    --post-size: 95%;
}

.content {
    width: 990px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 60px;
}

.content .boardBox {
    margin-top: 10px;
    width: 990px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.boxes {
    width: 485px;
    height: 250px;
    border: 1.5px solid #50586C;
    ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.linkToBoard {
    width: var(--post-size);
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid #D0D0D0;
    height: fit-content;
}

.linkToBoard a {
    font-size: 17px;
    font-weight: bold;
    color: #50586C;
}

.postList {
    width: var(--post-size);
    height: 198px;
    margin-bottom: 5px;
}

.boxes.mwm {
    background-color: #F2ACC9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mwmTitle {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mwmTitle .title {
    width: fit-content;
    height: fit-content;
}

.mwmTitle .title p {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Black Han Sans', sans-serif;
}

.linkToMWM {
    width: 160px;
}

.linkToMWM p {
    font-size: 25px;
}

.mwmText:hover {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 700;
}

.title a {
    font-size: 16px;
}

.title a:hover {}

.title {
    height: 25px;
}