body{
    border: 0.5px solid red;

    display: flex;
	position: relative;

    margin: 0;
}

.lefeSideBox{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #707070;
    padding: 20px 0;
}

.logo{
    width: 45%;
}

.userBox{
    
}

label{

}

.myProfileBtn{
    width:40%;
    height: 25px;
    margin-bottom: 35px;
}

div.mainBox{
    width: 70%;
    border: 0.5px solid green;
}
