body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    border-width: 0px;
    margin: 0;
    background-color: #fff;
  }

  a {
    color: black;
    text-decoration: none; /* no underline */
  }

  a:hover{
    text-decoration:underline
  }
  
.sideBar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E4E4E4;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sideBar .logo{
    position: fixed;
    top: 120px;
    width: auto;
    height: 80px;
}

.sideBar .profileBox{
    position: fixed;
    bottom: 40px;
}

.sideBar .profileBox .profileImage{
    width: 60px;
}

.sideBar .profileBox .btn{
    width: 65px;
}


.sideBar a:hover {
color: #f1f1f1;
}

.main {
    margin-left: 330px; /* Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    min-width: 1000px;
}

.main .nav {
    margin-top: 20px;
}

.main .nav .big a{
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}

.main .nav .small{
    margin-top: 10px;
    margin-left: 350px;
}

.main .nav .small a{
    margin-left: 20px;
}

.main .searchBar{
    font-size: 18px;
    margin-top: 30px;
    vertical-align: baseline;
    margin-bottom: 0px;
}

.main .searchBar p{
    display: inline;
    vertical-align: bottom;
    font-weight: bold;
    margin-left: 3px;
}

.main .searchBar .popularPost{
    display: inline;
    margin-left: 15px;
    width: 200px;
    vertical-align: bottom;
}

.main .searchBar img {
    height: 23px;
    display: inline;
    vertical-align: bottom;
}

.main .searchBar .searchBox{
    display: inline;
    margin-left: 100px;
}

.main .searchBar .searchBox input:nth-child(1) {
    width: 450px;
    height: 23px;
    background-image: url('/images/icon_search.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 10px;
    padding-left: 40px;
    border-radius: 10px;
}

.main .searchBar .searchBox input:nth-child(1):focus {
    background-color: #F5EBE9;
    border-color: black;
}

.main .searchBar .searchBox input:nth-child(1)::after {
    background-color: red;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
};