*{
  font-size: 15px;
}

/* Full-width inputs */
 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #707070;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
}

  /* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: absolute;
    top: 30%;
    right: 40%;
}

  /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

  /* Add padding to containers */
.container {
    padding: 16px;
    width: 35%;
    position: absolute;
    top: 30%;
    left: 50%;
}


.container .smallBox {
  display: flex;
  justify-content: space-between;
}

button.register{
    width : 50%;
}

button.forgot{
    width : 50%;
}