doctype html
html(lang="ko")
    head  
        include partials/favicon.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="/css/base.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap' rel='stylesheet')

    body      
        .sideBar
            div
                a(href="/")
                    img.logo(src="/images/logo.png")
            .profileBox
                img.profileImage(src="/images/icon_profile.png" alt = "profile_icon")
                .userName #{loggedInUser.username}
                .userID (#{loggedInUser.id})
                .campus 한양대학교 에리카 캠퍼스
                .grade #{loggedInUser.grade}
                button.proflieBtn(type='button' onclick = "location.href = '/user/proflie'") 내 정보
        .main
            .nav
                .big
                    a.E.home(href="/") 홈
                    a.E.MWM(href ="#") 뮴팅
                    .dropdown
                        a.dropbtn 게시판
                        .dropdown-content
                            a(href='#') &nbsp;
                            a(href='/board/자유') 자유 게시판
                            a(href='/board/정보') 정보 게시판
                            a(href='/board/장터') 장터 게시판
                            a(href='/board/취창업') 취창업 게시판
                            a(href='/board/한대신문') 한대 신문
                            a(href='/board/학과') 학과 게시판
                            a(href='/board/동아리') 동아리 게시판
                            a(href='/board/학회') 학회 게시판
            .searchBar
                div.popularBox
                    img(src="/images/icon_fire.png")
                    p 인기 게시글
                    a(href="/board/"+ boardName + "/" + link).popularPost "#{title}"
                div
                    form(method="GET", action="/search").searchBox
                        input(placeholder="검색어를 입력하세요" type="text" name="keyword")
            .contents 
                block content

    script(src="/js/base.js")
    include partials/favicon.pug