doctype html 
html(lang="ko")
    head 
        title #{pageTitle} 
        link(rel=stylesheet href=`./css/#{name}.css`)
    body
        header 
            h1=pageTitle 
            main
                block content