doctype html
html(lang="ko")
    head  
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="./styles/base.css")
        title Meal With Me

    body         
        div.wrap
            div.sideBox
                div.logoBox
                    img.logo(src="images/logo.png" alt = `logo`)
                div.profileBox
                    img.profileImage(src="images/profile_icon.png" alt = "profile_icon")
                    p 이름 
                    p /n (아이디)
                    p 캠퍼스명 
                    p /n (회원등급)
                    button.goProfileBtn(type='button' onclick = "location.href = '/proflie'") 내 정보
            div.mainBox
                div.nav
                    p 게시판 목록
                dib.searchBox
                    p 인기 게시물 + 검색 
                dib.contents
                    p 메인 컨텐츠
        block content 