extends base.pug
block content 
    head 
        title MWM: Home
        link(rel="stylesheet" href="/css/home.css")

    .content
        .boardBox
            .boxes
                .linkToBoard 
                    a(href="") 자유 게시판
                .postList
                    table
                        tbody(id="list")
            .boxes
                .linkToBoard 
                    a(href="") 동아리 게시판
                .postList
                    table
                        tbody(id="list")
        .boardBox
            .boxes
                .linkToBoard 
                    a(href="") 장터 게시판
                .postList
                    table
                        tbody(id="list")
            .boxes
                .linkToBoard 
                    a(href="") 홍보 게시판
                .postList
                    table
                        tbody(id="list")
        .boardBox
            .boxes
                .linkToBoard 
                    a(href="") 맛집 게시판
                .postList
                    table
                        tbody(id="list")
            .boxes
                .linkToBoard 
                    a(href="") 취업 게시판
                .postList
                    table
                        tbody(id="list")
        .boardBox
            .boxes
                .linkToBoard 
                    a(href="") 학과 게시판
                .postList
                    table
                        tbody(id="list")
            .boxes
                .linkToBoard 
                    a(href="") 동아리 게시판
                .postList
                    table
                        tbody(id="list")