extends base.pug

block content 
  // 네비게이션 바
  style
    include ./styles/home.css
  .navbar
    nav
      ul.menu
        li
          a(href='#') 홈
        li
          a(href='#') 뮴팅
        li
          a(href='#') 게시판
      ul.downmenu
        li
          a(href='#') 자유
        li
          a(href='#') 취창업  
        li
          a(href='#') 홍보
        li
          a(href='#') 정보
        li
          a(href='#') 장터 

    .content
      // 실시간 인기글
      .hotarticle
        h3
          img.fire(src='fire.png' alt='fire')
          a 실시간 인기글 
          a.article(href='#')

      // 검색바
      .search
        form
          input.text(type='textg' name='keyword' placeholder='찾고 싶은 글을 검색하세요!')
    
      // 게시판들
      .main.articles
        .card
          h3
            a(href='#') 뮴팅
          a(href='#')
            p 밥 한 끼 먹는 가벼운 소개팅 어때요?
        .card
          h3
            a(href='#') 자유게시판
          a.list(href='#')
            time 시간
            p 제목1
            hr
          a.list(href='#')
            time 시간
            p 제목2
            hr
          a.list(href='#')
            time 시간
            p 제목3
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
        .card
          h3
            a(href='#') 취창업게시판
          a.list(href='#')
            time 시간
            p 제목1
            hr
          a.list(href='#')
            time 시간
            p 제목2
            hr
          a.list(href='#')
            time 시간
            p 제목3
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
          a.list(href='#')
            time 시간
            p 제목5 
            hr
        .card
          h3
            a(href='#') 정보게시판
          a.list(href='#')
            time 시간
            p 제목1
            hr
          a.list(href='#')
            time 시간
            p 제목2
            hr
          a.list(href='#')
            time 시간
            p 제목3
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
          a.list(href='#')
            time 시간
            p 제목5
            hr
        .card
          h3
            a(href='#') 홍보게시판
          a.list(href='#')
            time 시간
            p 제목1
            hr
          a.list(href='#')
            time 시간
            p 제목2
            hr
          a.list(href='#')
            time 시간
            p 제목3
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
          a.list(href='#')
            time 시간
            p 제목5
            hr
        .card
          h3
            a(href='#') 장터게시판
          a.list(href='#')
            time 시간
            p 제목1
            hr
          a.list(href='#')
            time 시간
            p 제목2
            hr
          a.list(href='#')
            time 시간
            p 제목3
            hr
          a.list(href='#')
            time 시간
            p 제목4
            hr
          a.list(href='#')
            time 시간
            p 제목5
            hr