doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Meal With Me
    link(rel="stylesheet" href="./styles/login.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
body
    form(method = "POST").wrap
        .imgcontainer   
            img.avatar(src="images/logo.png" alt = `logo`)
            p "한양대학교 에리카 커뮤니티"
        .container
            input(type='text', placeholder='아이디를 입력하세요', name='id', required='')
            input(type='password', placeholder='비밀번호를 입력하세요', name='pwd', required='')
            button(type='submit') Login
            .smallBox
                label
                    input.checkBox(type='checkbox', id='check', name='check') 
                    |   로그인 상태 유지
                a 아이디/비밀번호 찾기
