doctype html
html(lang="ko")
    head
        include partials/favicon.pug
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="/css/login.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        title MWM: login
    body
        form(method = "POST").wrap
            .imgcontainer   
                img.avatar(src="/images/logo_2.png" alt = `logo`)
            .container
                input.id(type='text' placeholder='아이디를 입력하세요' name='id' required='')
                input.pwd(type='password' placeholder='비밀번호를 입력하세요' name='pwd' required='')
                button.submit(type='submit') Login
                .smallBox
                    label
                        input.checkBox(type='checkbox' id='check' name='check' checked="on") 
                        |   로그인 상태 유지
                    a(href="#") 아이디/비밀번호 찾기
                .joinBox
                    span 혹시 한양인이신가요? &nbsp;
                    a(href="/join").joinlink 회원가입하기