doctype html
html(lang="ko")
    head  
        meta(charset='UTF-8')
        title Meal With Me
        link(rel="stylesheet" href="./styles/test.css")

    body         
        div#wrap
            div.side 
            div.header
            div.contents
            div.footer
        block content 