/* 왼쪽 바 정리 */
.container{
    position: fixed;
    display: block;
    background-color: #707070;
    float: left;
    clear: left;
    left: 0;
    bottom: 0;
    height: 100%;
    width:330px;
    text-align: center;
}

.imagecontainer
{
    position: absolute;
    width: 200px;
    top: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.user{
    position: absolute;
    margin-top: 200px;
    bottom: 0;
    width: 330px;
    height: 260px;
    line-height: 15pt;
    font-size: 14pt;
}

.img.selfie{
    margin-bottom: 29px;
    border-radius: 30px;
    width: 50px;
}

.label.unick{
    font-size: 18pt;
    font-weight: bold;
}
.label.uid{
    font-size: 18pt
}

.button.information{
    margin-top: 29px;
    margin-bottom: 74px;
    font-size: 14px;
    background-color: white;
    color: #242424;
    border-style: solid;
    width: 103px;
    height: 32px;
}
/* 네비게이션 바 정리 */
.navbar{
    position: fixed;
    left: 330px;
    display: block;
    color: #242424;
    font-weight: bold;
    font-size: 24pt;
    padding: 7px 8px;
}

.nav ul{
    display: flex;
    list-style-type: none;
}

.menu li{
    display: inline;
    font-weight: bolder;
    float: left;
    padding: 0 15px;
}

.downmenu ul{
    display: block;
    margin-left: 200px;
}

.downmenu li{
    display: inline;
    float: left;
    font-size: 14pt;
    font-weight: lighter;
    padding: 0 8px;
}