head
    link(rel="stylesheet", href="/css/footer.css")

a 만든사람: kkshin44 
span |  
a(href="https://github.com/044apde") GitHub 
span |  
a(href="https://imminent-son-f1a.notion.site/HANYANG-ALL_OF_NOTICE-3bc6ef74127544f1bd36fe144f8592ed") Notion
