:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #3F77A4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    
    /* Size */
    --padding: 12px;
    --padding-small: 8px;
    --padding-medium: 14px;
    --padding-large:18px;
    --padding-larger:24px;
    --avatar-size: 36px;
    --padding-logo:50px;
    --padding-icon: 10px;
    --padding-searchBar:15px;

    /* Font size */
    --font-micro: 10px;
    --font-small: 12px;
    --font-medium: 14.5px;
    --font-large: 18px;
    --font-logo: 50px;
    --font--bookmarks: 35px;

    /* Box size */
    --box-height-middle: 300px;
    --box-logo: 250px;
    --box-search: 50px;
    --box-searchBar-height:40px;
    --box-searchBar-width: 550px;
    --box-bookMark-height:250px;
    --box--bookmarks-width: 500px;
    --box-footer-height:300px;
}

@font-face {
    font-family: NanumSquareR;
    src: url(./font/NanumSquareR.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* nav */

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-larger);
}

#nav_right_icon {
    padding-right: var(--padding-icon);
}

i {
    color: var(--black-color);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

/* LOGO */

.logo {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: var(--box-logo);
    padding-bottom: var(--padding-logo);
    font-size: var(--font-logo);
}

/* SEARCH */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--box-search);
}

#searchbox {
    height: var(--box-searchBar-height);
    width: var(--box-searchBar-width);
    border-radius: 1rem;
    border: 1px solid gray;
    padding-left: var(--padding-searchBar);
    font-size: var(--font-medium);
}

/* BOOKMARK ICONS */
.bookmark {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: var(--padding-larger);
    height: var(--box-bookMark-height);
}

.bookmarks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: var(--box--bookmarks-width);
}

.bookmark i {
    font-size: var(--font--bookmarks);
    color: var(--black-color);
}

/* FOOTER */
.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
    padding-top: var(--padding-larger);
    font-size: var(--font-medium);
}
