:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #3F77A4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --theme-backGround-color: #ffffff;
    --theme-weight-color: #13428a;
    --theme-light-color: #13428a;
    --theme-font-color: #13428a;
    --theme-logo-color: #13428a;
    
    /* Size */
    --padding: 12px;
    --padding-small: 8px;
    --padding-medium: 14px;
    --padding-large:18px;
    --padding-larger:24px;
    --avatar-size: 36px;
    --padding-logo:50px;
    --padding-icon: 10px;
    --padding-searchBar:15px;

    /* Font size */
    --font-micro: 10px;
    --font-small: 12px;
    --font-medium: 14.5px;
    --font-large: 18px;
    --font-logo: 50px;
    --font--bookmarks: 35px;
    --font--mainName : 30px;

    /* Box size */
    --box-height-middle: 300px;
    --box-logo: 250px;
    --box-search: 50px;
    --box-searchBar-height:40px;
    --box-searchBar-width: 550px;
    --box-bookmark-height:250px;
    --box--bookmarks-width: 500px;
    --box-footer-height:300px;
}

@font-face {
    font-family: NanumSquareR;
    src: url(./font/NanumSquareR.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

body {
    font-family: NanumSquareR;
    background-color: var(--theme-backGround-color);
    height: 100%;
    background-image: url(./image/layered-waves-haikei.svg);
    background-color: var(--theme-backGround-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* nav */

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-larger);
}

#nav_right_icon {
    padding-right: var(--padding-icon);
}

i {
    color: var(--theme-font-color);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

.dropdown-bar {
    position: relative;
    display:inline-block;
}

.bar-content {
    display: none;
    position: absolute;
    transform: translateX(-65%);
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-bar:hover .bar-content {
    display: block;
}

.bar-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: var(--font-small);
    display: block;
}

.bar-content a:hover { background-color: var(--grey-light-color);}


.dropdown-user {
    position: relative;
    display:inline-block;
}

.user-content{
    display: none;
    position: absolute;
    transform: translateX(-80%);
    background-color: var(--grey--light-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-user:hover .user-content{
    display: block;
}

.user-content li{
    text-decoration: none;
    font-size: var(--font-medium);
    margin: 0;
    text-align: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    color: black;
    padding: 12px 16px;
    display: block;
}

.user-content li:hover{background-color: var(--grey-light-color);}

.logout{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--grey-dark-color);
    color: white;
    border: 1px;
}

.dropdown-bookmark{
    position: relative;
    display: inline-block;
}

/* LOGO */

.logo {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: var(--box-logo);
    padding-bottom: var(--padding-logo);
    font-size: var(--font-logo);
    font-weight: bolder;
    color: var(--theme-logo-color);
}


/* SEARCH */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--box-search);
}

#searchBox {
    height: var(--box-searchBar-height);
    width: var(--box-searchBar-width);
    border-radius: 1rem;
    border: 3px solid var(--theme-weight-color);;
    padding-left: var(--padding-searchBar);
    font-size: var(--font-medium);
    color: var(--theme-font-color)
}

/* BOOKMARK ICONS */
.bookmarkBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    padding: var(--padding-larger);
    height: var(--box-bookmark-height);
}

.bookmarkBox div {
    width: var(--box--bookmarks-width);
    height: var(--box-bookmark-height);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.bookmarkBox a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--box--bookmarks-width);
    font-size: var(--font-small);    
}

.bookmarkBox a:hover {
    background-color: #90909034;
}

.bookmarkBox span {
    padding-top: var(--padding-small);
}

.bookmarkBox i {
    font-size: var(--font--bookmarks);
}

/* FOOTER */
.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
    padding-top: var(--padding-larger);
    font-size: var(--font-medium);
}

