:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #3F77A4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --theme-backGround-color: #ffffff;
    --theme-weight-color: #000000;
    --theme-light-color: #000000;
    --theme-font-color: #000000;
    --theme-logo-color: #000000;
    
    /* Size */
    --padding: 12px;
    --padding-small: 8px;
    --padding-medium: 14px;
    --padding-large:18px;
    --padding-larger:24px;
    --avatar-size: 36px;
    --padding-logo:50px;
    --padding-icon: 10px;
    --padding-searchBar:15px;

    /* Font size */
    --font-micro: 10px;
    --font-small: 12px;
    --font-medium: 14.5px;
    --font-large: 18px;
    --font-logo: 50px;
    --font--bookmarks: 35px;
    --font-page--name: 30px;

    /* Box size */
    --box-height-middle: 300px;
    --box-logo: 250px;
    --box-search: 50px;
    --box-searchBar-height:40px;
    --box-searchBar-width: 550px;
    --box-bookmark-height:250px;
    --box--bookmarks-width: 500px;
    --box-footer-height:300px;
    --box-searchBox-height-small:28px;
    --box-searchBar-width-small:300px;
}

@font-face {
    font-family: NanumSquareR;
    src: url(./font/NanumSquareR.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

body {
    font-family: NanumSquareR;
    background-color: var(--theme-backGround-color);
}

/* nav */
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-larger);
}

#nav_right_icon {
    padding-right: var(--padding-icon);
}

i {
    color: var(--theme-font-color);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

/* container */
#container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.inContainer {
    padding-top: 100px;
    width: 1200px;
}

/* main */
.mainName {
    font-size: var(--font-page--name);
}

.mainName span:nth-child(1) {
    font-weight: bolder;
}

/* mainNav */
.mainNav {
    padding-top: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.searchBar {
    height: var(--box-searchBox-height-small);
    width: var(--box-searchBar-width-small);
    border-radius: 1rem;
    border: 2px solid var(--theme-weight-color);
    padding-left: var(--padding-searchBar);
}

.mainNav i {
    color: var(--red-color);
}

.hotArticle {
    padding-right: 20px;
}

/* mainBorad */
.board {
    padding-top: var(--padding-larger);
    height: 400px;
}

.boardTalbe {
    color: gray;
    width: 100%;
    border:1px solid black;
    padding: 0px 20px;
    border-spacing: 0 10px;
}

#classification {
    width: 70px;
}

#title {
    width: 800px;
}

#writer {
    width: 200px;
}

#date {
    width:90px;
}

/* boardNumber */
.boardNumber {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
    
    margin-top: var(--padding-large);
}

.numbering {
    width: 400px;
    align-items: center;
}

.numbering tr {
    display: flex;
    justify-content: space-between;
}
