:root{
    /* Color */
    --white-color: #ffffff;
    --black-color: #140a00;
    --blue-ligth-color: #d6ece8;
    --blue-dark-color: #557ab3;
    --red-color: #ff0000;
    --grey-light-color: #cecece;
    --grey-dark-color: #707070;
    
     /* Font size */
    --font-micro: 14px;
    --font-small: 16px;
    --font-medium: 20px;
    --font-large: 28px;
    --font-logo: 60px;
    --font--bookmarks: 35px;
    --font--mainName : 40px;

    /* Size */
    --padding: 12px;
    --padding-small: 8px;
    --padding-medium: 14px;
    --padding-large:18px;
    --padding-larger:24px;
    --avatar-size: 36px;
    --padding-logo:50px;
    --padding-icon: 10px;
    --padding-searchBar:30px;

    /* Box size */
    --box-height-middle: 300px;
    --box-logo: 250px;
    --box-search: 50px;
    --box-searchBar-height:40px;
    --box-searchBar-width: 550px;
    --box-bookmark-height:250px;
    --box--bookmarks-width: 500px;
    --box-footer-height:300px;
    --box-searchBox-height-small:28px;
    --box-searchBar-width-small:300px;
}

@font-face {
    font-family: NanumSquareR;
    src: url(./font/NanumSquareR.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    
}

a {
    text-decoration: none;
    color: var(--black-color);
}

body {
    font-family: NanumSquareR;
    height: 100%;
    background-image: url(./image/layered-waves-haikei.svg);
    background-color: var(--theme-backGround-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* nav */

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-larger);
}

#nav_right_icon {
    padding-right: var(--padding-icon);
}

i {
    color: var(--theme-font-color);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

.dropdown-bar {
    position: relative;
    display: inline-block;
}

.bar-content {
    display: none;
    position: absolute;
    transform: translateX(-65%);
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-bar:hover .bar-content {
    display: block;
}

.bar-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: var(--font-small);
    display: block;
}

.bar-content a:hover { background-color: var(--grey-light-color);}


.dropdown-user {
    position: relative;
    display:inline-block;
}

.user-content{
    display: none;
    position: absolute;
    transform: translateX(-82%);
    background-color: var(--theme-backGround-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-user:hover .user-content{
    display: block;
}

.user-content li{
    text-decoration: none;
    font-size: var(--font-medium);
    margin: 0;
    text-align: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    color: black;
    padding: 12px 16px;
    display: block;
    background-color: var(--theme-backGround-color);
}

.user-content li:hover{background-color: var(--theme-backGround-color);}

.logout{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--grey-dark-color);
    color: white;
    border: 1px;
}

.dropdown-bookmark{
    position: relative;
    display: inline-block;
}

/* container */
#container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.inContainer {
    padding-top: 100px;
    width: 1200px;
}

/* main */
.mainName {
    font-size: var(--font-page--name);
}

.mainName span:nth-child(1) {
    font-weight: bolder;
}

/* mainNav */
.mainNav {
    padding-top: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.searchBar {
    height: var(--box-searchBox-height-small);
    width: var(--box-searchBar-width-small);
    border-radius: 1rem;
    border: 2px solid var(--theme-weight-color);
    padding-left: var(--padding-searchBar);
}

.mainNav i:nth-child(1) {
    color: red;
}

.mainNav i:nth-child(2) {
    color: black;
    position: absolute;
    padding-left: 10px;
    padding-bottom: 0.5px;
}

.hotArticle {
    padding-right: 20px;
}

/* mainBorad */
.board {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-larger);
    height: 400px;
}

.boardTalbe {
    color: gray;
    width: 100%;
    border:1px solid black;
    padding: 0px 20px;
    border-spacing: 0 10px;
}

#classification {
    width: 70px;
}

#title {
    width: 800px;
}

#writer {
    width: 200px;
}

#date {
    width:90px;
}

/* boardNumber */
.boardNumber {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
    
    margin-top: var(--padding-large);
}

.numbering {
    width: 400px;
    align-items: center;
    border: 1px solid black;
}

.numbering tr {
    display: flex;
    justify-content: space-between;
}

.numbering td {
    width:100%;
    text-align: center;
    border-left: 1px solid black;
}

.numbering td:nth-child(1){
    border: 0px;
}
