.container{
    position: fixed;
    display: block;
    background-color: #707070;
    float: left;
    clear: left;
    left: 0;
    bottom: 0;
    height: 100%;
    width:330px;
    text-align: center;
}

.imagecontainer
{
    position: absolute;
    width: 200px;
    top: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.user{
    position: absolute;
    margin-top: 200px;
    bottom: 0;
    width: 330px;
    height: 260px;
    line-height: 15pt;
    font-size: 14pt;
}