#alert1 {
    background-color: #82b1ff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

#alert2 {
    background-color: #c382ff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

#alert3 {
    background-color: #82ffac;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

#alert4 {
    background-color: #ffaa82;
    color: black;
    padding: 20px;
    border-radius: 5px;
}

button {
    margin-top: 10px;   
}